-- =========================================
-- Calendar Pro v5 - Database Schema (ADAPTED)
-- Integrates with EXISTING salon management system
-- =========================================
-- Created: 2024
-- Version: 5.0
-- =========================================

-- =========================================
-- 1∩╕ÅΓâú Calendar Events Table
-- =========================================
-- This table serves as a calendar view layer over existing bookings
-- Events can be linked to bookings or stand-alone (blocks, leave, etc.)
CREATE TABLE IF NOT EXISTS calendar_events (
    id INT AUTO_INCREMENT PRIMARY KEY,
    salon_id INT NOT NULL DEFAULT 1,
    title VARCHAR(255) NOT NULL,
    description TEXT,
    booking_date DATE NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    
    -- Links to existing tables
    booking_id INT NULL COMMENT 'Link to bookings table if this is a booking event',
    customer_id INT NULL COMMENT 'Link to customers table',
    service_id INT NULL COMMENT 'Link to services table',
    staff_id INT NULL COMMENT 'Link to staff table',
    room_id INT NULL COMMENT 'Link to rooms table',
    membership_id INT NULL COMMENT 'Link to memberships table',
    
    -- Event classification
    event_type ENUM('booking','block','leave','break','training','meeting','maintenance') DEFAULT 'booking',
    status ENUM('pending','confirmed','in_service','completed','cancelled','no_show') DEFAULT 'pending',
    
    -- Display properties
    color_code VARCHAR(20) DEFAULT '#007bff',
    all_day BOOLEAN DEFAULT FALSE,
    
    -- Additional info
    notes TEXT,
    reminder_minutes INT DEFAULT 15,
    
    -- Metadata
    created_by INT NOT NULL COMMENT 'Link to users or staff table',
    updated_by INT,
    
    -- Timestamps
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    -- Indexes for performance
    INDEX idx_salon_date (salon_id, booking_date),
    INDEX idx_booking_id (booking_id),
    INDEX idx_staff_id (staff_id),
    INDEX idx_room_id (room_id),
    INDEX idx_customer_id (customer_id),
    INDEX idx_status (status),
    INDEX idx_event_type (event_type),
    INDEX idx_start_end_time (start_time, end_time),
    
    -- Foreign Keys to existing tables
    FOREIGN KEY (booking_id) REFERENCES bookings(id) ON DELETE SET NULL,
    FOREIGN KEY (customer_id) REFERENCES customers(id) ON DELETE SET NULL,
    FOREIGN KEY (service_id) REFERENCES services(id) ON DELETE SET NULL,
    FOREIGN KEY (staff_id) REFERENCES staff(id) ON DELETE SET NULL,
    FOREIGN KEY (room_id) REFERENCES rooms(id) ON DELETE SET NULL,
    FOREIGN KEY (membership_id) REFERENCES memberships(id) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 2∩╕ÅΓâú Staff Availability (for Leave/Breaks)
-- =========================================
-- This table stores staff availability exceptions not covered by bookings
-- Using the existing staff table structure
CREATE TABLE IF NOT EXISTS staff_availability_exceptions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    salon_id INT NOT NULL DEFAULT 1,
    staff_id INT NOT NULL,
    exception_date DATE NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    
    -- Exception type
    exception_type ENUM('leave','break','training','meeting','sick','vacation') DEFAULT 'leave',
    is_available BOOLEAN DEFAULT FALSE,
    
    -- Recurrence
    is_recurring BOOLEAN DEFAULT FALSE,
    recurrence_pattern ENUM('none','daily','weekly','monthly') DEFAULT 'none',
    recurrence_end_date DATE NULL,
    
    -- Additional info
    notes TEXT,
    
    -- Timestamps
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    -- Indexes
    INDEX idx_staff_date (staff_id, exception_date),
    INDEX idx_type (exception_type),
    UNIQUE KEY unique_staff_slot (staff_id, exception_date, start_time, end_time),
    
    -- Foreign Key
    FOREIGN KEY (staff_id) REFERENCES staff(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 3∩╕ÅΓâú Calendar Notifications Table
-- =========================================
-- Integrates with existing notification system
CREATE TABLE IF NOT EXISTS calendar_notifications (
    id INT AUTO_INCREMENT PRIMARY KEY,
    salon_id INT NOT NULL DEFAULT 1,
    calendar_event_id INT NOT NULL,
    
    -- Notification details
    notification_type ENUM('booking_confirmation','payment_pending','membership_expiry','staff_reschedule','leave','reminder','reminder_1h','reminder_30m','cancellation','follow_up') DEFAULT 'booking_confirmation',
    
    -- Recipient
    recipient_type ENUM('customer','staff','admin') NOT NULL,
    recipient_id INT NOT NULL COMMENT 'customer_id or staff_id',
    
    -- Content
    title VARCHAR(255) NOT NULL,
    message TEXT NOT NULL,
    
    -- Status
    status ENUM('pending','sent','failed','read','unread') DEFAULT 'unread',
    
    -- Channel
    channel ENUM('in_app','email','whatsapp','sms','push') DEFAULT 'in_app',
    recipient_email VARCHAR(255) NULL,
    recipient_phone VARCHAR(50) NULL,
    
    -- Timing
    scheduled_time DATETIME NOT NULL,
    sent_at DATETIME NULL,
    read_at DATETIME NULL,
    
    -- Metadata (JSON for additional data)
    metadata JSON NULL,
    
    -- Error handling
    error_message TEXT NULL,
    
    -- Timestamps
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    -- Indexes
    INDEX idx_salon_status (salon_id, status),
    INDEX idx_event_id (calendar_event_id),
    INDEX idx_recipient (recipient_type, recipient_id),
    INDEX idx_scheduled_time (scheduled_time),
    INDEX idx_unread (recipient_type, recipient_id, status),
    
    -- Foreign Key
    FOREIGN KEY (calendar_event_id) REFERENCES calendar_events(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 4∩╕ÅΓâú Room Availability (for Maintenance/Blocks)
-- =========================================
-- Track when rooms are unavailable
CREATE TABLE IF NOT EXISTS room_availability_exceptions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    salon_id INT NOT NULL DEFAULT 1,
    room_id INT NOT NULL,
    exception_date DATE NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    
    -- Exception type
    exception_type ENUM('maintenance','block','unavailable','cleaning','renovation') DEFAULT 'maintenance',
    status ENUM('available','maintenance','unavailable') DEFAULT 'maintenance',
    
    -- Additional info
    notes TEXT,
    
    -- Timestamps
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    -- Indexes
    INDEX idx_room_date (room_id, exception_date),
    INDEX idx_status (status),
    UNIQUE KEY unique_room_slot (room_id, exception_date, start_time, end_time),
    
    -- Foreign Key
    FOREIGN KEY (room_id) REFERENCES rooms(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 5∩╕ÅΓâú Calendar Event Tags (for categorization)
-- =========================================
CREATE TABLE IF NOT EXISTS calendar_event_tags (
    id INT AUTO_INCREMENT PRIMARY KEY,
    calendar_event_id INT NOT NULL,
    tag VARCHAR(50) NOT NULL,
    
    -- Timestamp
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    -- Indexes
    INDEX idx_event_tag (calendar_event_id, tag),
    INDEX idx_tag (tag),
    UNIQUE KEY unique_event_tag (calendar_event_id, tag),
    
    -- Foreign Key
    FOREIGN KEY (calendar_event_id) REFERENCES calendar_events(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 6∩╕ÅΓâú Calendar Settings (extended from existing)
-- =========================================
-- The existing calendar_settings table uses key-value pairs
-- This view adds default settings for salon 1

-- Insert default settings if they don't exist


-- =========================================
-- 7∩╕ÅΓâú VIEWS for Easy Querying
-- =========================================

-- View: Complete calendar event details with all related data
CREATE OR REPLACE VIEW v_calendar_events_full AS
SELECT 
    ce.*,
    -- Customer details
    c.name AS customer_name,
    c.phone AS customer_phone,
    c.email AS customer_email,
    c.address AS customer_address,
    
    -- Service details
    s.name AS service_name,
    s.duration_minutes AS service_duration,
    s.base_price AS service_price,
    s.description AS service_description,
    
    -- Staff details
    st.name AS staff_name,
    st.department AS staff_department,
    st.designation AS staff_designation,
    st.phone AS staff_phone,
    st.email AS staff_email,
    
    -- Room details
    r.name AS room_name,
    r.room_type AS room_type,
    r.capacity AS room_capacity,
    
    -- Membership details
    m.plan_id,
    mp.name AS membership_plan_name,
    mp.tier AS membership_tier,
    m.status AS membership_status,
    m.wallet_balance AS membership_wallet_balance,
    
    -- Booking details (if linked)
    b.booking_type,
    b.total_amount AS booking_amount,
    b.discount_amount AS booking_discount,
    b.notes AS booking_notes,
    
    -- Computed fields
    CONCAT(
        CEILING(
            TIMESTAMPDIFF(MINUTE, 
                CONCAT(ce.booking_date, ' ', ce.start_time),
                CONCAT(ce.booking_date, ' ', ce.end_time)
            ) / 60
        ), ' minutes'
    ) AS computed_duration,
    
    -- Computed color based on status
    CASE 
        WHEN ce.status = 'pending' THEN '#f6c23e'
        WHEN ce.status = 'confirmed' THEN '#1cc88a'
        WHEN ce.status = 'in_service' THEN '#36b9cc'
        WHEN ce.status = 'completed' THEN '#4e73df'
        WHEN ce.status = 'cancelled' THEN '#e74a3b'
        WHEN ce.status = 'no_show' THEN '#6c757d'
        ELSE ce.color_code
    END AS computed_color,
    
    -- Display title
    CASE 
        WHEN ce.event_type = 'booking' THEN CONCAT(
            IFNULL(c.name, 'Walk-in'), ' - ', IFNULL(s.name, 'Service')
        )
        WHEN ce.event_type = 'leave' THEN CONCAT('Leave - ', IFNULL(st.name, ''))
        WHEN ce.event_type = 'block' THEN CONCAT('Blocked: ', ce.title)
        ELSE ce.title
    END AS display_title,
    
    -- Full datetime strings
    CONCAT(ce.booking_date, ' ', ce.start_time) AS start_datetime,
    CONCAT(ce.booking_date, ' ', ce.end_time) AS end_datetime

FROM calendar_events ce
LEFT JOIN customers c ON ce.customer_id = c.id
LEFT JOIN services s ON ce.service_id = s.id
LEFT JOIN staff st ON ce.staff_id = st.id
LEFT JOIN rooms r ON ce.room_id = r.id
LEFT JOIN memberships m ON ce.membership_id = m.id
LEFT JOIN membership_plans mp ON m.plan_id = mp.id
LEFT JOIN bookings b ON ce.booking_id = b.id
WHERE ce.event_type != 'deleted';


-- View: Today's calendar events
CREATE OR REPLACE VIEW v_today_calendar_events AS
SELECT 
    ce.*,
    c.name AS customer_name,
    s.name AS service_name,
    st.name AS staff_name,
    r.name AS room_name,
    CONCAT(ce.booking_date, ' ', ce.start_time) AS start_datetime,
    CONCAT(ce.booking_date, ' ', ce.end_time) AS end_datetime
FROM calendar_events ce
LEFT JOIN customers c ON ce.customer_id = c.id
LEFT JOIN services s ON ce.service_id = s.id
LEFT JOIN staff st ON ce.staff_id = st.id
LEFT JOIN rooms r ON ce.room_id = r.id
WHERE ce.booking_date = CURDATE()
  AND ce.event_type = 'booking'
  AND ce.status NOT IN ('cancelled', 'no_show')
ORDER BY ce.start_time ASC;


-- View: Staff schedule with availability
CREATE OR REPLACE VIEW v_staff_schedule AS
SELECT 
    sae.*,
    st.name AS staff_name,
    st.department,
    st.designation,
    CASE 
        WHEN sae.exception_type = 'leave' THEN '#e74a3b'
        WHEN sae.exception_type = 'break' THEN '#f6c23e'
        WHEN sae.exception_type = 'training' THEN '#36b9cc'
        WHEN sae.exception_type = 'meeting' THEN '#4e73df'
        WHEN sae.exception_type = 'sick' THEN '#dc3545'
        WHEN sae.exception_type = 'vacation' THEN '#fd7e14'
        ELSE '#6c757d'
    END AS color_code
FROM staff_availability_exceptions sae
JOIN staff st ON sae.staff_id = st.id
WHERE st.status = 'active';


-- View: Room availability exceptions
CREATE OR REPLACE VIEW v_room_exceptions AS
SELECT 
    rae.*,
    r.name AS room_name,
    r.room_type,
    r.capacity,
    CASE 
        WHEN rae.exception_type = 'maintenance' THEN '#6c757d'
        WHEN rae.exception_type = 'block' THEN '#e74a3b'
        WHEN rae.exception_type = 'unavailable' THEN '#fd7e14'
        WHEN rae.exception_type = 'cleaning' THEN '#17a2b8'
        WHEN rae.exception_type = 'renovation' THEN '#6610f2'
        ELSE '#6c757d'
    END AS color_code
FROM room_availability_exceptions rae
JOIN rooms r ON rae.room_id = r.id
WHERE r.is_active = 1;


-- View: Bookings that don't have calendar events yet (for sync)
CREATE OR REPLACE VIEW v_bookings_without_calendar_events AS
SELECT 
    b.*,
    c.name AS customer_name,
    c.phone AS customer_phone,
    c.email AS customer_email,
    GROUP_CONCAT(
        CONCAT(s.name, ' (', bi.duration_minutes, ' min)')
        SEPARATOR ', '
    ) AS services_list,
    COUNT(bi.id) AS total_services,
    SUM(bi.duration_minutes) AS total_duration_minutes,
    CONCAT(b.booking_date, ' ', b.start_time) AS start_datetime,
    CONCAT(
        b.booking_date, ' ', 
        IFNULL(b.end_time, 
            DATE_ADD(
                CONCAT(b.booking_date, ' ', b.start_time),
                INTERVAL SUM(bi.duration_minutes) MINUTE
            )
        )
    ) AS end_datetime
FROM bookings b
LEFT JOIN customers c ON b.customer_id = c.id
LEFT JOIN booking_items bi ON b.id = bi.booking_id
LEFT JOIN services s ON bi.service_id = s.id
LEFT JOIN calendar_events ce ON b.id = ce.booking_id
WHERE ce.id IS NULL
  AND b.status IN ('pending', 'confirmed', 'in_progress')
  AND b.booking_date >= CURDATE()
GROUP BY b.id
ORDER BY b.booking_date, b.start_time;


-- =========================================
-- 8∩╕ÅΓâú TRIGGERS for automatic calendar event creation
-- =========================================

-- Trigger: Create calendar event when booking is created
DELIMITER $$
CREATE TRIGGER trg_booking_create_calendar_event
AFTER INSERT ON bookings
FOR EACH ROW
BEGIN
    DECLARE should_create BOOLEAN;
    DECLARE setting_value TEXT;
    
    -- Check if auto-create is enabled
    SELECT setting_value INTO setting_value
    FROM calendar_settings
    WHERE salon_id = NEW.salon_id
      AND setting_key = 'calendar.auto_create_booking_events';
    
    SET should_create = (setting_value = 'true' OR setting_value IS NULL);
    
    IF should_create AND NEW.booking_type IN ('walk_in', 'calling') THEN
        INSERT INTO calendar_events (
            salon_id,
            title,
            booking_date,
            start_time,
            end_time,
            booking_id,
            customer_id,
            event_type,
            status,
            created_by,
            notes
        )
        SELECT 
            NEW.salon_id,
            CONCAT(IFNULL(c.name, 'Walk-in'), ' - ', NEW.booking_type),
            NEW.booking_date,
            NEW.start_time,
            IFNULL(NEW.end_time, 
                DATE_ADD(CONCAT(NEW.booking_date, ' ', NEW.start_time), 
                       INTERVAL 60 MINUTE)
            ),
            NEW.id,
            NEW.customer_id,
            'booking',
            CASE 
                WHEN NEW.status = 'in_progress' THEN 'in_service'
                WHEN NEW.status = 'confirmed' THEN 'confirmed'
                ELSE NEW.status
            END,
            COALESCE(NEW.created_by, 1),
            CONCAT('Auto-created from booking #', NEW.id)
        FROM customers c
        WHERE c.id = NEW.customer_id;
    END IF;
END$$
DELIMITER ;


-- Trigger: Update calendar event when booking is updated
DELIMITER $$
CREATE TRIGGER trg_booking_update_calendar_event
AFTER UPDATE ON bookings
FOR EACH ROW
BEGIN
    -- Update linked calendar events
    UPDATE calendar_events
    SET 
        booking_date = NEW.booking_date,
        start_time = NEW.start_time,
        end_time = NEW.end_time,
        status = CASE 
            WHEN NEW.status = 'in_progress' THEN 'in_service'
            WHEN NEW.status = 'confirmed' THEN 'confirmed'
            ELSE NEW.status
        END,
        updated_at = CURRENT_TIMESTAMP
    WHERE booking_id = NEW.id;
END$$
DELIMITER ;


-- Trigger: Delete calendar event when booking is deleted
DELIMITER $$
CREATE TRIGGER trg_booking_delete_calendar_event
AFTER DELETE ON bookings
FOR EACH ROW
BEGIN
    -- Delete linked calendar events
    DELETE FROM calendar_events
    WHERE booking_id = OLD.id;
END$$
DELIMITER ;


-- =========================================
-- 9∩╕ÅΓâú Sample Data for Testing
-- =========================================

-- Insert sample calendar events (linked to sample data)
INSERT IGNORE INTO calendar_events (
    salon_id, title, booking_date, start_time, end_time,
    customer_id, service_id, staff_id, room_id,
    event_type, status, color_code, created_by
) VALUES
(1, 'Haircut - John Doe', '2024-01-15', '10:00:00', '10:30:00',
 1, 1, 1, 1, 'booking', 'confirmed', '#1cc88a', 1),
(1, 'Facial Treatment - Jane Smith', '2024-01-15', '11:00:00', '12:00:00',
 2, 2, 2, 2, 'booking', 'pending', '#f6c23e', 1),
(1, 'Massage - Mike Johnson', '2024-01-15', '14:00:00', '15:00:00',
 3, 3, 1, 1, 'booking', 'confirmed', '#1cc88a', 1);

-- Insert sample staff availability exceptions
INSERT IGNORE INTO staff_availability_exceptions (
    salon_id, staff_id, exception_date, start_time, end_time,
    exception_type, notes, created_by
) VALUES
(1, 1, '2024-01-20', '09:00:00', '13:00:00',
 'leave', 'Personal leave', 1);

-- Insert sample room availability exceptions
INSERT IGNORE INTO room_availability_exceptions (
    salon_id, room_id, exception_date, start_time, end_time,
    exception_type, status, notes
) VALUES
(1, 1, '2024-01-21', '14:00:00', '18:00:00',
 'maintenance', 'maintenance', 'AC maintenance');

-- Insert sample notifications
INSERT IGNORE INTO calendar_notifications (
    salon_id, calendar_event_id, notification_type,
    recipient_type, recipient_id, title, message,
    status, channel, scheduled_time
) VALUES
(1, 1, 'booking_confirmation', 'customer', 1,
 'Booking Confirmed', 'Your booking has been confirmed for Jan 15 at 10:00 AM',
 'read', 'in_app', NOW()),
(1, 2, 'booking_confirmation', 'customer', 2,
 'Booking Confirmation Required', 'Please confirm your booking for Jan 15 at 11:00 AM',
 'unread', 'in_app', NOW());


-- =========================================
-- ≡ƒöƒ Stored Procedures for Common Operations
-- =========================================

-- Procedure: Sync existing bookings to calendar events
DELIMITER $$
CREATE PROCEDURE sync_bookings_to_calendar()
BEGIN
    DECLARE done INT DEFAULT FALSE;
    DECLARE v_booking_id INT;
    DECLARE v_customer_id INT;
    DECLARE v_customer_name VARCHAR(255);
    DECLARE v_booking_date DATE;
    DECLARE v_start_time TIME;
    DECLARE v_end_time TIME;
    DECLARE v_status VARCHAR(50);
    DECLARE v_salon_id INT;
    
    -- Cursor for bookings without calendar events
    DECLARE booking_cursor CURSOR FOR
        SELECT 
            b.id,
            b.customer_id,
            c.name,
            b.booking_date,
            b.start_time,
            b.end_time,
            b.status,
            b.salon_id
        FROM bookings b
        LEFT JOIN customers c ON b.customer_id = c.id
        LEFT JOIN calendar_events ce ON b.id = ce.booking_id
        WHERE ce.id IS NULL
          AND b.status IN ('pending', 'confirmed', 'in_progress')
          AND b.booking_date >= CURDATE()
        LIMIT 100;
    
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = TRUE;
    
    OPEN booking_cursor;
    
    read_loop: LOOP
        FETCH booking_cursor INTO 
            v_booking_id, v_customer_id, v_customer_name, 
            v_booking_date, v_start_time, v_end_time, 
            v_status, v_salon_id;
        
        IF done THEN
            LEAVE read_loop;
        END IF;
        
        -- Insert calendar event
        INSERT INTO calendar_events (
            salon_id,
            title,
            booking_date,
            start_time,
            end_time,
            booking_id,
            customer_id,
            event_type,
            status,
            created_by,
            notes
        ) VALUES (
            v_salon_id,
            CONCAT(IFNULL(v_customer_name, 'Walk-in'), ' - Booking'),
            v_booking_date,
            v_start_time,
            IFNULL(v_end_time, DATE_ADD(CONCAT(v_booking_date, ' ', v_start_time), INTERVAL 60 MINUTE)),
            v_booking_id,
            v_customer_id,
            'booking',
            CASE 
                WHEN v_status = 'in_progress' THEN 'in_service'
                WHEN v_status = 'confirmed' THEN 'confirmed'
                ELSE v_status
            END,
            1,
            CONCAT('Synced from booking #', v_booking_id)
        );
        
    END LOOP;
    
    CLOSE booking_cursor;
END$$
DELIMITER ;


-- Procedure: Check staff availability for a time slot
DELIMITER $$
CREATE PROCEDURE check_staff_availability(
    IN p_staff_id INT,
    IN p_date DATE,
    IN p_start_time TIME,
    IN p_end_time TIME,
    IN p_exclude_event_id INT,
    OUT p_is_available BOOLEAN,
    OUT p_conflict_count INT
)
BEGIN
    -- Check for availability exceptions
    SELECT COUNT(*) INTO @exception_count
    FROM staff_availability_exceptions
    WHERE staff_id = p_staff_id
      AND exception_date = p_date
      AND is_available = FALSE
      AND (
          (start_time < p_end_time AND end_time > p_start_time)
      );
    
    -- Check for conflicting bookings
    SELECT COUNT(*) INTO @booking_count
    FROM calendar_events
    WHERE staff_id = p_staff_id
      AND booking_date = p_date
      AND status NOT IN ('cancelled', 'no_show')
      AND (
          (start_time < p_end_time AND end_time > p_start_time)
      )
      AND (p_exclude_event_id IS NULL OR id != p_exclude_event_id);
    
    SET p_conflict_count = @exception_count + @booking_count;
    SET p_is_available = (p_conflict_count = 0);
END$$
DELIMITER ;


-- Procedure: Check room availability for a time slot
DELIMITER $$
CREATE PROCEDURE check_room_availability(
    IN p_room_id INT,
    IN p_date DATE,
    IN p_start_time TIME,
    IN p_end_time TIME,
    IN p_exclude_event_id INT,
    OUT p_is_available BOOLEAN,
    OUT p_conflict_count INT
)
BEGIN
    -- Check for room exceptions
    SELECT COUNT(*) INTO @exception_count
    FROM room_availability_exceptions
    WHERE room_id = p_room_id
      AND exception_date = p_date
      AND status = 'unavailable'
      AND (
          (start_time < p_end_time AND end_time > p_start_time)
      );
    
    -- Check for conflicting bookings
    SELECT COUNT(*) INTO @booking_count
    FROM calendar_events
    WHERE room_id = p_room_id
      AND booking_date = p_date
      AND status NOT IN ('cancelled', 'no_show')
      AND (
          (start_time < p_end_time AND end_time > p_start_time)
      )
      AND (p_exclude_event_id IS NULL OR id != p_exclude_event_id);
    
    SET p_conflict_count = @exception_count + @booking_count;
    SET p_is_available = (p_conflict_count = 0);
END$$
DELIMITER ;


-- =========================================
-- 1∩╕ÅΓâú1∩╕ÅΓâú Helper Functions
-- =========================================

-- Function: Get business hours for a salon and day
DELIMITER $$
CREATE FUNCTION get_business_hours(
    p_salon_id INT,
    p_day_of_week INT
) RETURNS VARCHAR(50)
DETERMINISTIC
READS SQL DATA
BEGIN
    DECLARE v_open_time VARCHAR(10);
    DECLARE v_close_time VARCHAR(10);
    DECLARE v_is_closed BOOLEAN;
    
    SELECT 
        bh.open_time,
        bh.close_time,
        bh.is_closed
    INTO v_open_time, v_close_time, v_is_closed
    FROM business_hours bh
    WHERE bh.salon_id = p_salon_id
      AND bh.day_of_week = p_day_of_week
    LIMIT 1;
    
    IF v_is_closed OR v_open_time IS NULL THEN
        RETURN 'Closed';
    ELSE
        RETURN CONCAT(v_open_time, ' - ', v_close_time);
    END IF;
END$$
DELIMITER ;


-- Function: Get next available slot for staff
DELIMITER $$
CREATE FUNCTION get_next_available_slot(
    p_staff_id INT,
    p_date DATE,
    p_service_duration INT,
    p_start_time TIME
) RETURNS VARCHAR(20)
DETERMINISTIC
READS SQL DATA
BEGIN
    DECLARE v_current_time TIME;
    DECLARE v_end_time TIME;
    DECLARE v_found BOOLEAN DEFAULT FALSE;
    
    SET v_current_time = p_start_time;
    
    -- Check time slots until 20:00
    WHILE v_current_time < '20:00:00' AND NOT v_found DO
        SET v_end_time = DATE_ADD(
            CONCAT(p_date, ' ', v_current_time),
            INTERVAL p_service_duration MINUTE
        );
        
        -- Check if this slot is available
        SELECT NOT EXISTS(
            SELECT 1 FROM calendar_events ce
            WHERE ce.staff_id = p_staff_id
              AND ce.booking_date = p_date
              AND ce.status NOT IN ('cancelled', 'no_show')
              AND (
                  (ce.start_time < TIME(v_end_time) AND ce.end_time > v_current_time)
              )
        ) INTO v_found;
        
        IF NOT v_found THEN
            SET v_current_time = DATE_ADD(v_current_time, INTERVAL 30 MINUTE);
        END IF;
    END WHILE;
    
    IF v_found THEN
        RETURN TIME_FORMAT(v_current_time, '%H:%i');
    ELSE
        RETURN NULL;
    END IF;
END$$
DELIMITER ;


-- =========================================
-- End of Calendar Pro v5 Adapted Schema
-- =========================================
