-- =========================================
-- Calendar Pro v5 - Complete Database Schema
-- =========================================
-- Salon Management System
-- Created: 2024
-- Version: 5.0
-- =========================================

-- =========================================
-- 1∩╕ÅΓâú Billing Table (needed for calendar_events)
-- =========================================
CREATE TABLE IF NOT EXISTS billing (
    id INT AUTO_INCREMENT PRIMARY KEY,
    salon_id INT NOT NULL,
    customer_id INT NOT NULL,
    amount DECIMAL(10,2) NOT NULL,
    status ENUM('pending','paid','cancelled') DEFAULT 'pending',
    payment_method ENUM('cash','card','upi','wallet','bank_transfer') DEFAULT 'cash',
    discount_amount DECIMAL(10,2) DEFAULT 0.00,
    discount_reason VARCHAR(255),
    notes TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (customer_id) REFERENCES customers(id) ON DELETE CASCADE,
    FOREIGN KEY (salon_id) REFERENCES users(id) ON DELETE CASCADE,
    INDEX idx_salon_id (salon_id),
    INDEX idx_customer_id (customer_id),
    INDEX idx_status (status)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 2∩╕ÅΓâú Calendar Events Table
-- =========================================
CREATE TABLE IF NOT EXISTS calendar_events (
    id INT AUTO_INCREMENT PRIMARY KEY,
    salon_id INT NOT NULL,
    title VARCHAR(255) NOT NULL,
    description TEXT,
    start_datetime DATETIME NOT NULL,
    end_datetime DATETIME NOT NULL,
    customer_id INT NULL,
    service_id INT NULL,
    staff_id INT NULL,
    room_id INT NULL,
    membership_id INT NULL,
    billing_id INT NULL,
    status ENUM('pending','confirmed','in_service','completed','cancelled','no_show') DEFAULT 'pending',
    color_code VARCHAR(20) DEFAULT '#4e73df',
    event_type ENUM('booking','leave','break','block','maintenance') DEFAULT 'booking',
    notes TEXT,
    reminder_minutes INT DEFAULT 15,
    created_by INT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    deleted_at TIMESTAMP NULL,
    INDEX idx_salon_id (salon_id),
    INDEX idx_start_datetime (start_datetime),
    INDEX idx_status (status),
    INDEX idx_staff_id (staff_id),
    INDEX idx_room_id (room_id),
    INDEX idx_customer_id (customer_id),
    INDEX idx_event_type (event_type),
    FOREIGN KEY (customer_id) REFERENCES customers(id) ON DELETE SET NULL,
    FOREIGN KEY (service_id) REFERENCES services(id) ON DELETE SET NULL,
    FOREIGN KEY (staff_id) REFERENCES users(id) ON DELETE SET NULL,
    FOREIGN KEY (membership_id) REFERENCES memberships(id) ON DELETE SET NULL,
    FOREIGN KEY (billing_id) REFERENCES billing(id) ON DELETE SET NULL,
    FOREIGN KEY (created_by) REFERENCES users(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 3∩╕ÅΓâú Staff Availability Table
-- =========================================
CREATE TABLE IF NOT EXISTS staff_availability (
    id INT AUTO_INCREMENT PRIMARY KEY,
    staff_id INT NOT NULL,
    date DATE NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    type ENUM('work','break','lunch','leave','sick','vacation') DEFAULT 'work',
    notes TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    INDEX idx_staff_date (staff_id, date),
    INDEX idx_type (type),
    FOREIGN KEY (staff_id) REFERENCES users(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 4∩╕ÅΓâú Room Availability Table
-- =========================================
CREATE TABLE IF NOT EXISTS room_availability (
    id INT AUTO_INCREMENT PRIMARY KEY,
    room_id INT NOT NULL,
    date DATE NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    status ENUM('available','maintenance','unavailable') DEFAULT 'available',
    notes TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    INDEX idx_room_date (room_id, date),
    INDEX idx_status (status),
    FOREIGN KEY (room_id) REFERENCES rooms(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 5∩╕ÅΓâú Calendar Notifications Table
-- =========================================
CREATE TABLE IF NOT EXISTS calendar_notifications (
    id INT AUTO_INCREMENT PRIMARY KEY,
    event_id INT NOT NULL,
    user_id INT NOT NULL,
    type ENUM('booking_confirmation','payment_pending','membership_expiry','staff_reschedule','leave','reminder','reminder_1h','reminder_30m') DEFAULT 'booking_confirmation',
    status ENUM('pending','sent','failed','read') DEFAULT 'pending',
    channel ENUM('in_app','email','whatsapp','sms') DEFAULT 'in_app',
    recipient_email VARCHAR(255),
    recipient_phone VARCHAR(20),
    message TEXT,
    sent_at DATETIME NULL,
    read_at DATETIME NULL,
    error_message TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    INDEX idx_event_id (event_id),
    INDEX idx_user_id (user_id),
    INDEX idx_status (status),
    FOREIGN KEY (event_id) REFERENCES calendar_events(id) ON DELETE CASCADE,
    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 6∩╕ÅΓâú Calendar Event Tags Table
-- =========================================
CREATE TABLE IF NOT EXISTS calendar_event_tags (
    id INT AUTO_INCREMENT PRIMARY KEY,
    event_id INT NOT NULL,
    tag VARCHAR(50) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    INDEX idx_event_tag (event_id, tag),
    INDEX idx_tag (tag),
    FOREIGN KEY (event_id) REFERENCES calendar_events(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4_unicode_ci;


-- =========================================
-- 7∩╕ÅΓâú Calendar Settings Table
-- =========================================
CREATE TABLE IF NOT EXISTS calendar_settings (
    id INT AUTO_INCREMENT PRIMARY KEY,
    salon_id INT NOT NULL,
    business_start_time TIME DEFAULT '09:00:00',
    business_end_time TIME DEFAULT '19:00:00',
    slot_duration_minutes INT DEFAULT 30,
    buffer_time_minutes INT DEFAULT 5,
    allow_double_booking BOOLEAN DEFAULT FALSE,
    enable_notifications BOOLEAN DEFAULT TRUE,
    notification_minutes_before INT DEFAULT 15,
    color_by ENUM('status','staff','service','room') DEFAULT 'status',
    default_view ENUM('month','week','day','staff','room','agenda') DEFAULT 'month',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    UNIQUE KEY unique_salon (salon_id),
    FOREIGN KEY (salon_id) REFERENCES users(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


-- =========================================
-- 8∩╕ÅΓâú Insert Default Calendar Settings for Existing Salons
-- =========================================
INSERT IGNORE INTO calendar_settings (salon_id, business_start_time, business_end_time, slot_duration_minutes)
SELECT id, '09:00:00', '19:00:00', 30 
FROM users 
WHERE role = 'owner' AND id NOT IN (SELECT salon_id FROM calendar_settings);


-- =========================================
-- 9∩╕ÅΓâú Create Views for Easy Querying
-- =========================================

-- View: Calendar Events with Full Details
CREATE OR REPLACE VIEW v_calendar_events_full AS
SELECT 
    ce.*,
    c.name AS customer_name,
    c.phone AS customer_phone,
    c.email AS customer_email,
    s.name AS service_name,
    s.duration_minutes AS service_duration,
    s.base_price AS service_price,
    u.name AS staff_name,
    u.email AS staff_email,
    r.name AS room_name,
    r.room_type,
    m.plan_id,
    mp.name AS membership_plan_name,
    b.status AS billing_status,
    b.amount AS billing_amount,
    b.payment_method
FROM calendar_events ce
LEFT JOIN customers c ON ce.customer_id = c.id
LEFT JOIN services s ON ce.service_id = s.id
LEFT JOIN users u ON ce.staff_id = u.id
LEFT JOIN rooms r ON ce.room_id = r.id
LEFT JOIN memberships m ON ce.membership_id = m.id
LEFT JOIN membership_plans mp ON m.plan_id = mp.id
LEFT JOIN billing b ON ce.billing_id = b.id
WHERE ce.deleted_at IS NULL;


-- View: Today's Bookings
CREATE OR REPLACE VIEW v_today_bookings AS
SELECT 
    ce.*,
    c.name AS customer_name,
    s.name AS service_name,
    u.name AS staff_name,
    r.name AS room_name
FROM calendar_events ce
LEFT JOIN customers c ON ce.customer_id = c.id
LEFT JOIN services s ON ce.service_id = s.id
LEFT JOIN users u ON ce.staff_id = u.id
LEFT JOIN rooms r ON ce.room_id = r.id
WHERE ce.deleted_at IS NULL
  AND DATE(ce.start_datetime) = CURDATE()
  AND ce.event_type = 'booking';


-- =========================================
-- ≡ƒöƒ Sample Data (for testing)
-- =========================================

-- Sample Calendar Settings
INSERT IGNORE INTO calendar_settings (salon_id, business_start_time, business_end_time, slot_duration_minutes, buffer_time_minutes)
VALUES (1, '09:00:00', '20:00:00', 30, 5);

-- Sample Calendar Events
INSERT IGNORE INTO calendar_events (salon_id, title, start_datetime, end_datetime, customer_id, service_id, staff_id, room_id, status, color_code, event_type, created_by)
VALUES 
(1, 'Haircut - John Doe', '2024-01-15 10:00:00', '2024-01-15 10:30:00', 1, 1, 2, 1, 'confirmed', '#1cc88a', 'booking', 1),
(1, 'Facial Treatment - Jane Smith', '2024-01-15 11:00:00', '2024-01-15 12:00:00', 2, 2, 3, 2, 'pending', '#f6c23e', 'booking', 1),
(1, 'Massage - Mike Johnson', '2024-01-15 14:00:00', '2024-01-15 15:00:00', 3, 3, 2, 1, 'confirmed', '#1cc88a', 'booking', 1);

-- Sample Staff Availability
INSERT IGNORE INTO staff_availability (staff_id, date, start_time, end_time, type)
VALUES 
(2, '2024-01-15', '09:00:00', '13:00:00', 'work'),
(2, '2024-01-15', '14:00:00', '19:00:00', 'work'),
(3, '2024-01-15', '09:00:00', '17:00:00', 'work');

-- Sample Notifications
INSERT IGNORE INTO calendar_notifications (event_id, user_id, type, status, channel, message)
VALUES 
(1, 2, 'booking_confirmation', 'sent', 'in_app', 'Your booking has been confirmed'),
(2, 3, 'booking_confirmation', 'pending', 'email', 'Please confirm your booking');

-- =========================================
-- End of Calendar Pro v5 Schema
-- =========================================
